.card {
    border-radius: 15px;
    margin: 0.5rem 1rem;
    border-color: black solid 1px;
    width: 11.2rem;
    height: 14rem;
    background-color: lightslategray;
}

.card__img {
    border-radius: 15px 15px 0 0;
    background-color:gray;
    width: 100%;
    height: 7rem;
}

.card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__title {
    width: 100%;
    padding: 0.8rem 1rem;
}

.card__price {
    width: 100%;
    padding: 0.8rem 1rem;
}

.buy__btn {
    background-color: aqua;
    width: 95%;
    border-radius: 15px;
    transition: ease 0.3s;
    margin-top: auto;
}

.buy__btn:hover {
    background-color: rgb(0, 200, 255);
}