.card {
    box-shadow: 0 0 2px;
    width: 180px;
    height: 220px;
    border-radius: 15px;
    margin:30px 0 30px 20px;
    text-align: center;
    background-color:darkgray;
    border: 0.5px solid black;
}

.card__img {
    width: 100%;
    height: 130px;
    box-shadow: 0 0 2px;
    border-radius: 15px 15px 0 0;
    background-color: grey;
}

.card__price {
    text-align: left;
    margin-left: 5px;
}

.card__name{
   text-align: left;
   margin-left: 5px;
}

.card__btn {
    margin-top: 25px;
}