.cart__btn {
    position: fixed;
    width: 94%;
    height: 40px;
    top: 94vh;
    left: 3%;
    border-radius: 15px;
    border-color: transparent;
    transition: ease 0.3s;
    font-size: 1.3rem;
}

.cart__btn:hover {
    background-color: cadetblue;
}