.header {
    width: 100%;
    display: flex;
    justify-content: center;  /* центрируем содержимое по горизонтали */
    padding: 0.5rem 0;
}

.catSwiper {
    width: 85%;               /* можно 60–90%, подбирай под дизайн */
    max-width: 500px;
}

.cat__btn {
    width: 100%;
    text-align: center;
    border-radius: 15px;
    padding: 0.4rem 2rem;
    font-size: 1.3rem;
    border-color: transparent;
    background-color: lightgray;
    cursor: pointer;
    transition: ease 0.3s;
}

.cat__btn:hover {
    background-color: #007bff;
}
